


/* ===== NAVBAR ===== */

.navbar {
    display: flex;
    justify-content: space-between; /* gauche - centre - droit */
    align-items: center;
    padding: 20px;
    background: #f5f5f5; /*le found ou c'est le logo, Livre d'or et administration*/
    border-bottom: 2px solid #e42b2b; /* borseur en rouge dans le nav, en bas*/
}

/* gauche */
.nav-left img {
    height: 60px;
}

/* Centre */
.nav-center {
    text-align: center;
}

.nav-center h1 {
    margin: 0;
    font-size: 2rem;
}

.nav-center p {
    margin: 0;
    font-size: 1rem;
    opacity: 0.8;
}

/* droit */
.nav-right {
    text-align: right;
}

.nav-right img {
    height: 50px;
}



@media (max-width: 768px) {

    .navbar {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .nav-left,
    .nav-center,
    .nav-right {
        text-align: center;
    }

    .nav-right img {
        margin-top: 5px;
    }
}


/* Formulaire */

.contact-form {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    display: grid;
    gap: 20px;
}


.form-group {
    display: flex;
    flex-direction: column;
}

/* des etiquete */
.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Input */
.form-group input,
.form-group textarea {
    padding: 10px;
    border: 1px solid #84af0c; /* les bordeurs en vert */
    border-radius: 6px;
    font-size: 1rem;
}

/* Message d'erreur */
.erreur-message {
    color: #b00020;
    font-size: 0.9rem;
    margin-top: 5px;
}


.form-group.checkbox {
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


.btn-submit,
button[type="submit"] {
    padding: 12px 20px;
    background: #0077cc;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1.1rem;
    cursor: pointer;
}

.btn-submit:hover {
    background: #005fa3;
}


@media (min-width: 768px) {
    .contact-form {
        grid-template-columns: 1fr 1fr;
    }


    /* le message et checkbox-ul occupe tt la largeur */
    #message,
    #message-counter,
    .form-group.checkbox,
    button[type="submit"] {
        grid-column: span 2;
    }
}

/* Mobil → 1 coloană */
@media (max-width: 480px) {
    .contact-form {
        grid-template-columns: 1fr;
    }
}
